@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'Microsoft YaHei', sans-serif;
  background-color: #f5f5f5;
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input[type="text"],
input[type="search"],
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
img {
  display: block;
  width: 100%;
}
.hide {
  display: none;
}
.mmm_container {
  width: 100%;
  height: 2000px;
  min-width: 320px;
  max-width: 640px;
  background-color: #fff;
  margin: 0 auto;
}
.m_header {
  width: 100%;
  height: 0.5rem;
  background-color: #FF841D;
  position: relative;
}
.m_header h2 {
  text-align: center;
  line-height: 0.5rem;
  color: #fff;
}
.m_header .logo a {
  width: 50px;
  height: 25px;
  background: url('../images/icback.svg') no-repeat;
  position: absolute;
  left: 10px;
  top: 12px;
}
.m_header .download {
  width: 34px;
  height: 34px;
  background: url('../images/header_app.png') no-repeat;
  background-size: 34px 34px;
  position: absolute;
  right: 10px;
  top: 8px;
}
.m_footer {
  margin-top: 20px;
}
.m_footer .footer_t a {
  float: left;
  height: 0.34rem;
  width: 33.3%;
  text-align: center;
  line-height: 0.34rem;
  border: 1px solid #ccc;
}
.m_footer .footer_t a:last-child {
  position: relative;
}
.m_footer .footer_t a:last-child img {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0.6rem;
  top: 8px;
}
.m_footer .footer_b {
  width: 100%;
  height: 60px;
  padding: 0.1rem 0;
}
.m_footer .footer_b p {
  text-align: center;
  color: #ccc;
}
.m_footer .footer_b p a:first-child {
  color: red;
}
.product_container {
  padding: 10px;
}
.product_container .product_details {
  width: 100%;
}
.product_container .product_details h3 {
  height: 30px;
  line-height: 30px;
  margin: 10px auto;
}
.product_container .product_details .small {
  font-size: 12px;
  color: gray;
  margin: 10px auto;
}
.product_container .product_details .small .addtime {
  padding: 0 10px;
}
.product_container .product_details .content {
  width: 100%;
}
.product_container .product_details .content .smallimg {
  width: 120px;
  height: 120px;
  float: right;
}
.product_container .product_details .content .p1,
.product_container .product_details .content .p2 {
  font-size: 16px;
}
.product_container .product_details .content .p2 {
  margin-top: 10px;
}
.product_container .product_details .content .bigimg {
  width: 350px;
  height: 350px;
  background-color: coral;
}
.product_container .product_details .content .city {
  width: 100%;
}
.product_container .product_details .content .city ul {
  width: 138px;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
.product_container .product_details .content .city ul li {
  width: 100px;
  height: 20px;
  border-bottom: 1px dashed #ccc;
}
.product_container .product_details .content .city ul li .left {
  float: left;
}
.product_container .product_details .content .city ul li .right {
  float: right;
  color: orange;
}
.product_container .product_details .content .shop {
  width: 100%;
  padding: 10px 10px;
}
.product_container .product_details .content .shop a {
  display: block;
  width: 100%;
  height: 30px;
  background-color: orangered;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}
.product_container .product_info {
  width: 550px;
  height: 220px;
  margin: 0 auto;
}
.product_container .appraise .speak {
  width: 100%;
  height: 33px;
  line-height: 33px;
  font-size: 18px;
}
.product_container .appraise .form {
  width: 100%;
  border: 1px solid #ccc;
}
.product_container .appraise .form textarea {
  height: 68px;
}
.product_container .appraise .form .down {
  height: 36px;
  position: relative;
}
.product_container .appraise .form .down button {
  width: 100px;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  color: #fff;
  background-color: orange;
  border: none;
}
.product_container .appraise .news {
  padding: 6px;
}
.product_container .appraise .news .new {
  width: 100%;
  height: 33px;
  line-height: 33px;
  font-size: 18px;
}
.product_container .appraise .info_bottom a {
  display: block;
  width: 40px;
  height: 40px;
  float: left;
}
.product_container .appraise .info_bottom .right {
  height: 43px;
  overflow: hidden;
  position: relative;
}
.product_container .appraise .info_bottom .right .username {
  position: absolute;
  left: 0;
  top: 0;
}
.product_container .appraise .info_bottom .right .usetime {
  position: absolute;
  right: 0;
  top: 0;
}
.product_container .appraise .info_bottom .right .useinfo {
  position: absolute;
  left: 0;
  bottom: 0;
}
